@font-face {
  font-family: iconfont; /* Project id 4287970 */
  src: url('iconfont.woff2?t=1697437638246') format('woff2'),
    url('iconfont.woff?t=1697437638246') format('woff'),
    url('iconfont.ttf?t=1697437638246') format('truetype');
}

.iconfont {
  // font-size: 16px;
  font-family: iconfont !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-yanzhengma::before {
  content: '\e624';
}

