.login {

  .logo-title {
    margin: 15% 0;
  }

  .flex-align {
    display: flex;
    align-items: center;
    font-size: 40px;
  }

  .login-deal {
    font-size: 24px;
    color: #898989;
  }

  .login-form {
    margin: 0 10% 4%;

    .margin-btm {
      margin-bottom: 20px;
    }

    .svg-check {
      display: flex;
      align-items: center;
      margin-left: 10px;
    }

    .le-input {
      padding-left: 15px;
      border-radius: 100px;
      background-color: #f5f6f7;
    }

    .at-input {
      background-color: transparent;
    }
  }

  .at-form::after {
    border: 0 solid transparent;
  }

}

