.logo-title {
  margin: 17% 0;

  .flex-align {
    display: flex;
    align-items: center;
  }
}

.login-deal {
  font-size: 12px;
  color: #898989;
}

.login-form {
  margin: 0 10% 4%;

  :global {

    .at-button__wxbutton {
      color: pink;
    }
  }
}

