.login {

  .logo-title {
    margin: 15% 0;
  }

  .flex-align {
    display: flex;
    align-items: center;
  }

  .login-deal {
    font-size: 12px;
    color: #898989;
  }

  .login-form {
    margin: 0 10% 4%;

    .margin-btm {
      margin-bottom: 12px;
      border-bottom: 1px solid #dedcdc;
    }

    .svg-check {
      display: flex;
      align-items: center;
    }
  }

  .at-form {
    border-top: 1px solid #dedcdc!important;
  }

}

