@font-face {
  font-family: iconfont; /* Project id 4287970 */
  src: url('iconfont.woff2?t=1702022923645') format('woff2'),
    url('iconfont.woff?t=1702022923645') format('woff'),
    url('iconfont.ttf?t=1702022923645') format('truetype');
}

.iconfont {
  font-family: iconfont !important;
  // font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconfont-jiaosequnti::before {
  content: '\e8c9';
}

.iconfont-xiaoxitongzhi::before {
  content: '\ec35';
}

.iconfont-bumen::before {
  content: '\e62b';
}

.iconfont-gangwei::before {
  content: '\e658';
}

.iconfont-yonghu::before {
  content: '\e622';
}

.iconfont-rizhiguanli::before {
  content: '\e639';
}

.iconfont-qingkong::before {
  content: '\e628';
}

.iconfont-github::before {
  content: '\ea0b';
}

.iconfont-wendang::before {
  content: '\e6b9';
}

.iconfont-guanzhu::before {
  content: '\fe26';
}

.iconfont-rengongchengben::before {
  content: '\e65f';
}

.iconfont-yanzhengma::before {
  content: '\e624';
}

