.index {
  height: 100vh;
  background-color: #f5f6f7;

  .top {
    position: relative;
    padding: 4vh;
    height: 12vh;
    background-color: #3c96f3;

    .user {
      display: flex;
      justify-content: space-between;
      font-size: 30px;
      color: #ffffff;

      .user-name {
        display: flex;
        align-items: center;
        margin: 0 3vw;
      }

      .angle-info {
        display: flex;
        align-items: center;
      }
    }

    .icon {
      margin-bottom: 10px;
      width: 50px;
      height: 50px;
    }
  }

  .bottom {
    position: absolute;
    top:75%;
    left:50%;
    margin-left:-45%;
    width: 90%;

    .bottom-one {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 2vh;
      height: 14vh;
      font-size: 28px;
      border-radius: 20px;
      background-color: #ffffff;

      .card {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }

    .bottom-two {
      height: 14vh;
      border-radius: 10px;
      background-color: #ffffff;
    }
  }
}
